@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', sans-serif;
  }
  
  body {
    @apply bg-background text-textMain antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-panelBorder rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
